# Ignore everything
**

# Allow Django project code
!config/**
!purly/**
!manage.py

# Allow configuration
!pyproject.toml
!uv.lock

# Allow Docker setup
!docker/**
!Dockerfile
!entrypoint.sh

# Allow templates & static source (not collected files)
!templates/**
!templatetags/**
!static/**

# Keep migration init files
!purly/*/migrations/__init__.py
