# Ignore everything by default
**

# Re-include specific directories
!config/**
!docker/**
!purly/**
!static/**
!templates/**
!templatetags/**

# Re-include specific files at repo root
!.python-version
!manage.py
!pyproject.toml
!uv.lock
