# Ignore everything
**

# Include project dirs (dir + contents)
!config
!config/**
!docker
!docker/**
!purly
!purly/**
!static
!static/**
!templates
!templates/**
!templatetags
!templatetags/**

# Include specific files at repo root
!.python-version
!manage.py
!pyproject.toml
!uv.lock
